@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #FFFBF2;
}
::-webkit-scrollbar-thumb {
    background: #E53E3E;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #c53030;
}
.dashed-line {
    background-image: linear-gradient(to bottom, #E53E3E 50%, transparent 50%);
    background-size: 2px 20px;
    background-repeat: repeat-y;
}
.cycle-loop-path {
    stroke-dasharray: 10;
    animation: dash 30s linear infinite;
}
@keyframes dash {
    to {
        stroke-dashoffset: -1000;
    }
}
.bg-grid-pattern {
    background-image: radial-gradient(#1A1A1A 0.5px, transparent 0.5px);
    background-size: 20px 20px;
}
